---
import Navigation from "../../components/Navigation.astro"
import Head from "../../components/Head.astro";
import Comments from "../../components/Comments.astro";
import Footer from "../../components/Footer.astro";
const {id} = Astro.params;
const post = await fetch(`http://localhost:4321/api/posts/${id}.json`);
const postJson = await post.json()
const today = new Date()
import Layout from "../../layout/Layout.astro";

---

<Layout>
    <div style="z-index: 222;" class="px-5 my-5 mx-auto flex flex-row items-center justify-end absolute " style="max-width: 1200px;">
        <div transition:name="title" class=" rounded-lg container p-2 text-xl text-black" style="width: fit-content; "></div>
        <a style="width: fit-content;" class="rounded-lg p-1 block bg-red-500 cursor-pointer" onclick="history.back()">
            <i class="gg-close text-red-200"></i>
        </a>
    </div>
    <article transition:name={`card-${id}`} class="relative rounded-2xl flex items-center flex-col mx-auto container shadow-2xl bg-neutral-50 mt-12" style="max-width: 1200px;">
        <img class="rounded-t-2xl" style="width: 100%; max-height: 600px;" transition:name={`image-${id}`} src="https://images.unsplash.com/photo-1542831371-29b0f74f9713?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8NHx8cHJvZ3JhbW1lcnxlbnwwfHwwfHx8MA%3D%3D&w=1000&q=80"/>
        <div transition:name={`title-${id}`} style="width: 100%;" class=" bg-neutral-200 text-center text-3xl text-black p-6">{postJson[0].post.title.rendered}</div>
        <div transition:name={`footer-${id}`} style="width: 100%" class="p-4 px-40 footer flex flex-row justify-start gap-4 bg-neutral-100">
            <div class="flex flex-row gap-2">
                <i class="gg-comment "></i>
                <span>1</span>
            </div>
            <div class="flex flex-row gap-2 items-center">
                <i class="gg-calendar-dates"></i>
                <span>{ Math.round((today - new Date(postJson[0].post.date)) /(1000 * 60 * 60 * 24))} days ago</span> 
            </div>
            <div class="flex flex-row gap-2 items-center">
                <i class="gg-user"></i>
                <span>by Jeshol</span>
            </div>
        </div>
        <div transition:name={`content-${id}`} set:html={postJson[0].post.content.rendered}  class="content bg-neutral-50 text-xl px-40 pb-10"></div>
        <Comments title={postJson[0].post.title.rendered}></Comments>
    </article>
</Layout>