---
 const data = await fetch("https://norian.studio/wp-json/wp/v2/dinos")
 const posts = await data.json()
const today = new Date()
---
<div class="container mx-auto flex flex-wrap [&>*:first-child]:basis-full max-w-6xl" >
	{
        posts.map((post, i)=>(
            <div class="flex flex-col md:basis-2/6 p-4 w-fit">
                <article transition:name={`card-${post.slug}`} class=" border-b-2 hover:shadow-slate-400  ">
                    <a class="group" href={`/posts/${post.slug}`} >
                        <div transition:name={`image-${post.slug}`}>
              
                        </div>
                         <h1 transition:name={`title-${post.slug}`} class="group-hover:text-red-800 text-xl p-4 pb-0 text-black line-clamp-1">{post.title.rendered}</h1>

                        <div transition:name={`footer-${post.slug}`} class="p-4 footer text-slate-500 flex flex-row justify-between gap ">
                            <div class="flex flex-row gap-2 items-center">
                                <i class="gg-calendar-dates"></i>
                                <span>{ Math.round((today - new Date(post.date)) /(1000 * 60 * 60 * 24))} days ago</span> 
                            </div>
                        </div>
                    </a>
                </article>
            </div>
        ))
    }
</div>